<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../static/index.css">
</head>
<body>

<div class="container">
    <button class="logout-button" onclick="logout()">Logout</button>
    <div class="search-container">
        <input type="text" name="search" id="search" autocomplete="off" placeholder="Search..." oninput="searchDiaryEntries()">
    </div>

    <div class="diary">
        <textarea id="diary-text" placeholder="Write your diary entry here..."></textarea>
        <input type="text" id="tag-input" placeholder="Enter tags...">
        <button id="add-button" class="add-diary-button" onclick="addDiaryEntry()">Add Entry</button>
        <button id="apply-button" class="add-diary-button apply-diary-button" style="display: none;" onclick="applyEdit()">Apply</button>



        <h2>Diaries</h2>
        {% for row in filtered_diaries %}
        <div class="diary-entry">
            <p class="memo">{{ row.memo }}</p>
            <p class="tag">{{ row.tags}}</p>
        </div>
        {% endfor %}
       
        
    </div>

</div>
<script src="../static/main.js"></script>
</body>
</html>
